# Anypoint Studio
.mule/
.metadata/
.recommenders/
target/
*.log
*.class

# Maven
.mvn/

# IDE
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Credentials (IMPORTANTE)
*-credentials.properties
config-local.yaml
